*{
          margin: 0;
          padding: 0;
          font-family: Work Sans;
          line-height: normal;
}
span{
          color: #FF42A5;
}
.nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 80%;
          height: 30%;
          margin: 50px auto;
          list-style: none;
}
.nav-logo{
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 7%;
}
.nav-logo h1{
          text-align: center;
          
          font-size: 2.85rem;
          font-style: normal;
          font-weight: 700;
          
}
.nav-bar>ul{
          list-style: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 30px;
          color: #3C354F;
          font-size: 1.1rem;
          font-weight: 500;
          width: 100%;
}
.about{
          display: block;
          width: 100%;
}
.nav-right{
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 20px;
          border: none;
          width: 50%;
          height: 100%;
          color: #3C354F;
          font-size: 1.2rem;
          font-weight: 500;
          border: none;
          border-radius: 8px;
          background-color: rgba(11, 2, 35, 0.10);
          margin: 0 10px;
          padding: 10px 20px;
          cursor: pointer;
}
.nav-right p, .banner2-title p{
          font-size: 1rem;
}
.banner{
          display: flex;
          width: 80%;
          height: auto;
          justify-content: space-between;
          align-items: center;
          margin: 50px auto;
}

.banner-title{
          display: block;
          width: 40%;
          height: 100%;
          align-items:center;
          text-align: left;
          background-image: url('./images/Group\ 14.png');
          background-size:contain;
}
.banner-title h3{
          color:  #0B0223;
          font-size: 3rem;
          font-weight: 600;
          text-transform: uppercase;
}
.banner2-title h4{
          font-size: 1.5rem;
          font-weight: 700;
}
.banner-text h1 {
          Browse plugins
          G.O.A.T.
          text-align: center;
          font-family: Work Sans;
          font-size: 95px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          text-transform: uppercase;
          
          color:#F948B2;
          font-size: 5.9rem;
          font-weight: 800;

}
.banner-title p{
          color: #534C64;
          font-size: 1.2rem;
          font-weight: 500;
         
          

}

.btn-1{
          display: inline-flex;
          align-items: flex-start;
          padding: 15px 40px;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-right: 10px;
          background-color: #FF42A5;
          border: none;
          border-radius: 48px;
          gap: 40px;
          color: white;
}
.btn-2{
          display: inline-flex;
          align-items: flex-start;
          padding: 15px 40px;
          margin: 15px 0px;
          border: none;
          border-radius: 48px;
          background-color:  #4EC5F7;
          gap: 40px;
          color: white;
}
.banner2{
          display: flex;
          width: 80%;
          height: auto;
          justify-content: space-between;
          align-items: center;
          margin: 50px auto;
          margin-left: 10%;
}
.banner2-text{
          background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}
.banner2-title{
          text-align: right;
}
.banner2-title h1{
          color:#F948B2 ;
          font-size: 3rem;
          font-weight: 700;

}
.banner2-img{
          width: 60%;
          height: 100%;
}
.btn-3{
          display: inline-flex;
          align-items: flex-start;
          padding: 15px 40px;
          margin-top: 10px;
          margin-bottom: 10px;
          background-color: #FF42A5;
          border: none;
          border-radius: 48px;
          color: white;
}
.cards{
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: space-around;
          align-items: center;
}
.card-title{
          text-align: center;
          font-size: 3rem;
          font-weight: 700;
          margin: 30px;
}
.card-title p{
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
}
.card p{
          width: 90%;
          height: 100%;
}
.download{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%;
          height: 100%;
          gap: 150px;
          margin: 50px auto;
}
.download-title{
          text-align: right;
          font-size: 3rem;
          font-weight: 700;
}
.download-title p{
          font-size: 1rem;

}
.download-img{
          position: relative;
}
.img2{
          margin-top: -200px;
          margin-left: -120px;
}
.play-game{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 80%;
          height: 100%;
          margin: 10px auto;
          gap: 30px;
          text-align: right;
}
.play-game-title h1{
          font-size: 3rem;
}
.play-game-title p{
          font-size: .9rem;
}
.play-game-img{
          position: relative;
}
.play-game-img2{
          margin-top: -200px;
          margin-left: -120px;
}
@media screen and (max-width:576px) {
          /* header{
                    width: 80%;
                    height: 100%;
           
          } */
          .nav{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content:center;
                    margin: 0 auto;
          }
          .nav-right{
                    width: 80%;
                    height: auto;
                    margin:0 auto;
                    
          }
          .nav-logo{
                    display: flex;
                    justify-content: center;
                    margin: 20px auto;
                    padding: 0 auto;
          }
          .nav-bar{
                    width: 90%;
                    height: auto;
                    margin: 0 20%;
                    justify-content: center;
          }
          .nav-bar>ul{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    margin:0 auto;
                    padding: 0 auto;
          }
          li{
                    display: block;
                    margin:0 60%;
          }
          
          .banner{
                    flex-direction: column-reverse;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: space-around;
                    align-items: center;
                    margin: 0;
          }
          .banner-img img{
                    width: 80%;
                    height: auto;
                    margin: 0 auto;
                   
          }
          .banner-title{
                    flex-direction: column-reverse;
                    width: 100%;
                    height: 80%;
                    margin: 0 10%;
                    text-align: left;
                    
          }
          .banner-text{
                    width: 80%;
                    height: auto;
                    margin-right: 10%;
                    align-items: center;
                    text-align: center;
          }
          .banner2{
                    flex-direction: column;
                    width: 90%;
                    height: 100%;
          }
          .banner2-img img{
                    width: 90%;
                    height: 100%;
                    margin: 0 10%;

          }
          .banner2-title{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    margin: 20px auto;
          }
          .cards{
                    display:grid;
                    grid-template-columns: 1fr;
                    width: 80%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    margin: 30px auto;
                    gap: 20px;
          }
          .card-title{
                    display: block;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 700;
                    margin: 30px;
          }
          .card-title p{
                    display: block;
                    text-align: center;
                    font-size: .6rem;
                    font-weight: 500;
          }
          .card p{
                    font-size: .8rem;
                    text-align: center;
                    align-items: center;
          }
          .download{
                    flex-direction: column;
                    width: 70%;
                    height: 100%;
                    gap: 10px;
                    
          }
          .img1 {
                    width: 100%;
                    height: 100%;

          }
          .img2{
                    width: 40%;
                    height: 40%;
                    position: relative;
                    margin-top: -100px;
                    margin-left: -50px;
                    
          }
          .download-title h1{
                    text-align: center;
                    font-size: 2rem;
          }
          .download-title p{
                    text-align: center;
                    font-size: .8rem;
          }
          .play-game-title{
                    text-align: center;

          }
          .play-game{
                    flex-direction:column-reverse;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;
                    height: 100%;
                    margin: 10px auto;
                    gap: 15px;
          }
          .play-game-img{
                    position: relative;
          }
          .play-game-img1{
                    width: 90%;
                    height: 100%;
          }
          .play-game-img2{
                    width:35%;
                    height: 10%;
                    position: relative;
                    margin-top: -100px;
                    margin-right: 240px;
          }
}